<%- include("../partials/header") %>
<div class="adminheader">
<h1 class="adminstarttext">Admin page for <span class="adminname"><%= user.username %></span></h1>
<div class="admintasks">
    <a href="#" class="touploadproduct">Upload Product</a>
    <a href="#" class="todeleteuser">Delete User</a>
</div>
</div>

<div class="uploadproducts">
    <div class="adminmessage"><%- include("../helpers/messages") %></div>
        <form action="/admin" method="POST" enctype="multipart/form-data" class="adminform">
            <input type="text" name="title" placeholder="Product title" class="productform" required />
            <input type="text" name="description" placeholder="Product description" class="productform" required />
            <input type="number" name="price" placeholder="Product price" class="productform" required />
            <input type="text" name="origin" placeholder="Product origin country" class="productform" required />
            <input type="text" name="blend" placeholder="Product grape blend" class="productform" required />
            <label type="button" class="productloadimg">Product image upload
            <i class="fas fa-file-image" aria-hidden="true"></i>
            <input type="file" name="image" style="display: none;" required>
            </label>
            <button type="submit" class="addadminproduct">Add Product</button>
        </form>
</div>
<div class="adminproducts"> 
<% products.forEach(product => { %>
    
        <div class="showproduct">
        <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>" alt="" />
        <p><%= product.title %></p>
        <p><%= product.origin %></p>
        <p><%= product.blend %></p>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
        <a href="/adminEdit/<%= product.id %>">Edit</a>
        <a href="/adminDelete/<%= product.id %>">Delete</a>
        </div>
<% }) %>
</div>

<% userList.forEach(user => { %>
    
    <% if (user.role != 'admin') { %>
    <div>
        <p><%= user.username %></p>
        <a href="/userDelete/<%= user.id %>">Delete</a>
    </div>
    <% } %>
<% }) %>

<div><a href="/">Back to start</a></div>

<%- include("../partials/footer") %>