<%- include("../partials/header") %>
<h1>HELLO ADMIN <%= user.username %></h1>

<form action="/admin" method="POST" enctype="multipart/form-data">

    <input type="text" name="title" placeholder="product name" required />
    <input type="text" name="description" placeholder="product description" required />
    <input type="number" name="price" placeholder="product price" required />
    <input type="text" name="origin" placeholder="product origin country" required />
    <input type="text" name="blend" placeholder="product grape blend" required />
    <input type="file" name="image" id="image" value="" required>
    <button type="submit">Add</button>

</form>

<% products.forEach(product => { %>
    
    <div>
        <p><%= product.title %></p>
        <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>" alt="" />
        <p><%= product.description %></p>
        <p><%= product.origin %></p>
        <p><%= product.blend %></p>
        <p><%= product.price %></p>
        <a href="/adminEdit/<%= product.id %>">Edit</a>
        <a href="/adminDelete/<%= product.id %>">Delete</a>
    </div>

<% }) %>

<% userList.forEach(user => { %>
    
    <% if (user.role != 'admin') { %>
    <div>
        <p><%= user.username %></p>
        <a href="/userDelete/<%= user.id %>">Delete</a>
    </div>
    <% } %>
<% }) %>

<div><a href="/">Back to start</a></div>

<%- include("../partials/footer") %>