<%- include("./partials/header") %>


<% if (!locals.user) { %>
    <div>
        <h1>Welcome to product page!</h1>
    </div>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
<% } %> 

<% if (locals.user) { %>
<div>
    <h1>Hi <%=user.username%></h1>
</div>

<% if (user) { %>
    <a href="/wishlist">To wishlist</a>
<% } %>
 
<% if (user.role == 'admin') { %>
    <a href="/admin">To admin page</a>
<% } %>

<div><a href="/logout">Log Out</a></div>
<div><a href="/">Back to Start</a></div>

<%- include("./helpers/messages") %>
<% } %>

<div>
    <a href="/productPage/?origin=spain">Spain</a>
    <a href="/productPage/?origin=france">France</a>
    <a href="/productPage/?origin=italy">Italy</a>
</div>

<% if (origin == null) { %>
    <div>
        <a href="/productPage/?page=<%=(productsToShow/limitPerPage)%>&&price=1">Lowest first</a>
        <a href="/productPage/?page=<%=(productsToShow/limitPerPage)%>&&price=-1">Highest first</a>
    </div>
    <% products.forEach(product => { %>
        <div class="productDiv">
            <div class ="modalHidden">
                <section class="modalContent">
                <span class="closeModal"> &#9747; </span>
                <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>" alt="" />
                <p><%= product.title %></p>
                <p><%= product.description %></p>
                <p>Origin:<%= product.origin %></p>
                <p>Blend:<%= product.blend %></p>
                <p>Price:<%= product.price %> SEK</p>
            </section>
            </div>


            <%= product.title %>
           <picture> <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>" alt="" /></picture>
            <p><%= product.description %></p>
            <p><%= product.origin %></p>
            <p><%= product.blend %></p>
            <p><%= product.price %></p>
            <% if (locals.user) { %>
                <a href="/wishlist/<%= product._id%>">&#10084</a>
                <% } %>
        </div>
    <% }) %>

    <% if(totalPages> 1){%>
        <ul class="pagination">
        <%if(page>1){%>
            <li>
                <a href="/productPage/?page=<%=(productsToShow/limitPerPage)-1 %>&&price=<%= sortPrice %>">&larr; less</a>
            </li>
        <%}%>
        <% if(totalPages !==productsToShow/limitPerPage){%>
            <li>
                <a href="/productPage/?page=<%=(productsToShow/limitPerPage)+1 %>&&price=<%= sortPrice %>">more &rarr;</a>
            </li>
        <% } %>
        </ul>
    <%} %>
<% } else { %>
    <% origin.forEach(item => { %>
        <div class="productDiv">
            
            <div class ="modalHidden">
                <section class="modalContent">
                <span class="closeModal"> &#9747; </span>
                <img src="data:image/<%=item.img.contentType%>;base64,<%=item.img.data.toString('base64')%>" alt="" />
                <p><%= item.title %></p>
                <p><%= item.description %></p>
                <p>Origin:<%= item.origin %></p>
                <p>Blend:<%= item.blend %></p>
                <p>Price:<%= item.price %> SEK</p>
            </section>
            </div>
            
            
            <%= item.title %>
            <picture><img src="data:image/<%=item.img.contentType%>;base64,<%=item.img.data.toString('base64')%>" alt="" /></picture>
            <p><%= item.description %></p>
            <p><%= item.origin %></p>
            <p><%= item.blend %></p>
            <p><%= item.price %></p>
        </div>
    <% }) %>
<% } %>

<%- include("./partials/footer") %>


<script>

    let productPicture = document.getElementsByTagName('picture');
    for (let i = 0; i < productPicture.length; i++) {
        productPicture[i].addEventListener('click', ()=>{
            productPicture[i].previousElementSibling.classList.toggle('modalVisible')
        })
    }
    let closeModal = document.getElementsByClassName('closeModal');
    for (let i = 0; i < closeModal.length; i++) {
        
        closeModal[i].addEventListener('click', ()=>{
            closeModal[i].closest('div').classList.toggle('modalVisible')
        })
        
    }
    </script>