<%- include("../partials/header") %>
<div id="wishWrapper">

<div id="wishMenu">
  <h3><%= user.username %>'s wishlist</h3>
  <a href="/productPage">Back to products</a>
  <% if (wishes != '') { %>
  <div><a href="/wishlistRemoveAll">Cleart your Wishlist</a></div>
  <% } %>
  <%- include("../helpers/messages") %>
  <%- include("../helpers/errorMessage") %>
</div>

  <% wishes.forEach(wish => { %>
    <div class="wishItem">
        <h4><%= wish.title %></h4>
        <p><%= wish.price %> kr</p>
        <img src="data:image/<%=wish.img.contentType%>;base64,<%=wish.img.data.toString('base64')%>" alt="" />

        <a href="/wishlistDelete/<%= wish.id %>">Remove</a>
    </div>

  <% }) %>
</div>
<%- include("../partials/footer") %>
